.cardList {
  padding: 30px 0px;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 20px;
}

/* element::-webkit-scrollbar {
  display: none; 
} */

.titleContainer {
  text-align: center;
}

@media (min-width: 768px) {
  .cardList {
    padding: 40px 0px;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 60px;
  }
}
