.wrapper {
  padding: 30px 0px;
}

.sectionImage img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.sectionImage {
  flex: 1;
}

.content {
  flex: 1;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.heading {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--textColor);
}

.sectionWrapper p {
  font-size: 16px;
  line-height: 24px;
}

.sectionWrapper h3 {
  margin: 20px 0px;
  font-size: 24px;
  font-weight: 500;
  color: var(--textColor);
}

.sectionWrapper li {
  font-size: 16px;
  line-height: 24px;
  list-style: circle;
}

.sectionWrapper li:nth-of-type(1) {
  margin-bottom: 12px;
}

.yellowColor {
  color: var(--themeColor3);
}

@media (min-width: 768px) {
  .wrapper {
    padding: 60px 0px;
  }

  .sectionImage img {
    max-width: 500px;
    width: 100%;
    height: auto;
  }

  .sectionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 100px; */
  }

  .heading {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--textColor);
  }

  .sectionWrapper p {
    font-size: 18px;
  }

  .sectionWrapper h3 {
    font-size: 24px;
    font-weight: 500;
  }

  .sectionWrapper li {
    font-size: 16px;
    line-height: 26px;
    list-style: circle;
  }
}
