.card {
  max-width: 350px;
  width: 100%;
  height: auto;
  padding: 10px;
  border: 1px solid var(--greyLight);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  cursor: pointer;
  padding: 16px 5px;
  flex: 0 0 auto;
  width: 150px;
}

.card:hover {
  transition: all ease-in-out 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.iconImg svg {
  font-size: 42px;
  color: var(--textColor);
}

.card h4 {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: var(--primaryText);
}

.card p {
  font-size: 14px;
  color: var(--primaryText);
}

@media (min-width: 768px) {
  .card {
    max-width: 350px;
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid var(--greyLight);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
    text-align: start;
    padding: 24px;
  }

  .iconImg svg {
    font-size: 60px;
  }

  .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 18px;
  }
}
